#title {
	font-size: 60px;
	font-weight: bold;
	margin: 25px 0px 25px 0px;
}

#turnDisplay {
	margin-bottom: 25px;
	font-size: 26px;
}

#board {
	display: flex;
	flex-direction: row;
	width: 606px;
	height: auto;
	flex-wrap: wrap;
}

#restartButton {
	margin-bottom: 25px;
	font-size: 20px;
}
